:root {
  --selected-input-color: #96dfcc;
  --selected-clue-color: #e2e2e1;
  --link-color: #69c;
}

.App {
  max-width: 1200px;
  margin: auto;
  padding: 0 10px;
}

.puzzle-area {
  display: grid;
  grid-template-columns: [puzzle] 2fr [across] 1fr [down] 1fr;
  grid-gap: 10px;
}

.puzzle-container {
  grid-column: puzzle;
}

.across{
  grid-column: across;
}

.down{
  grid-column: down;
}

@media (max-width: 700px) {
  .puzzle-area {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "puzzle puzzle"
      "across down";
  }
}

.clues {
  margin: 0;
  padding: 0;
  max-height: 500px;
  overflow: scroll;
}

.date-link {
  color: var(--link-color);
  display: inline;
  cursor: pointer;
}

.date-link:hover {
  text-decoration: underline;
}
