.cell {
  cursor: pointer;
  position: relative;
  text-align: center;
  border: #333 1px solid;
  padding: 2px;
  margin: 0;
  vertical-align: bottom;
  overflow: hidden;

  grid-column-start: auto;
  grid-column-end: auto;
  grid-row-start: auto;
  grid-row-end: auto;

  justify-self: stretch;
  align-self: stretch;
}

.block {
  background-color: #000;
  cursor: default;
}

.number {
  position: relative;
  float: left;
  font-size: xx-small;
  text-align: left;
}

.value {
  clear: both;
}

.selected-clue {
  background-color: #F7A7BF;
}

.input {
  background-color: #51A7AD;
}
