.cell {
  cursor: pointer;
  position: relative;
  text-align: center;
  border: #333 1px solid;
  padding: 2px;
  margin: 0;
  vertical-align: bottom;
  overflow: hidden;

  grid-column-start: auto;
  grid-column-end: auto;
  grid-row-start: auto;
  grid-row-end: auto;

  justify-self: stretch;
  align-self: stretch;
}

.block {
  background-color: #000;
  cursor: default;
}

.number {
  position: absolute;
  top: 2px;
  left: 2px;
  font-size: xx-small;
  text-align: left;
}

/* Props to https://vanseodesign.com/css/vertical-centering/ */
.value {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: 30%;
  margin: auto;
}

.selected-clue {
  background-color: #c1c9d1;
}

.input {
  background-color: #d1b440;
}
