.modal-background {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: .8;
  background-color: #666;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal-body {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.message {
  background: white;
  padding: 20px;
  border-radius: 5px;
}

.message {
  background: white;
  padding: 20px;
  border-radius: 5px;
}

.example-puzzle {
  list-style: none;
  padding: 5px;
  cursor: pointer;
}

.example-puzzle:hover {
  text-decoration: underline;
}
