.puzzle {
  border: #111 3px solid;
  border-spacing: 0;
  min-height: 500px;
  margin-top: 20px;

  display: grid;
  grid-gap: 0px;
}

.selected-clue-header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-content: center;
  grid-gap: 20px 10px;

  background: var(--selected-clue-color);
  padding: 0 10px;
  border-radius: 4px;
  min-height: 60px;
}

.selected-clue-number {
  font-weight: bold;
  align-self: center;
}

.selected-clue-text {
  align-self: center;
  margin-left: 5px;
  font-weight: normal;
}
